<div class="c-dashboard u-doublepadding">
    <div class="u-font-size-xxxl u-font-weight-bolder">Posts list:</div>
    <div class="u-margin-bottom">
        <app-dashboard-posts [height]="400"></app-dashboard-posts>
    </div>
    <div class="u-font-size-xxxl u-font-weight-bolder">Photos list:</div>
    <div class="u-margin-bottom">
        <app-dashboard-photos [height]="400"></app-dashboard-photos>
    </div>
    <div class="u-font-size-xxxl u-font-weight-bolder">Removed list:</div>
    <div class="u-margin-bottom">
        <app-dashboard-removed [height]="400"></app-dashboard-removed>
    </div>
</div>
