
$white1:                                #FFFFFF;
$white2:                                #f5f5f5;

$black1:                                #000000;

$grey1:                                 #474747;
$grey2:                                 #eaeaea;

$blue1:                                 #62a3db;
$blue2:                                 #3a376b;

$pink1:                                 #ec79a5;
$pink2:                                 #cc5476;
