.c-article-list {
    .c-article {
        &-item {
            @media(min-width: 0px) and (max-width: 640px) {
                flex-direction: column;
            }
            &--title {
                @media(min-width: 0px) and (max-width: 640px) {
                    display: flex;
                    justify-content: center;
                }
            }
            &--content {
                @media(min-width: 0px) and (max-width: 640px) {
                    flex-direction: column;
                }
            }
            &--action {
                @media(min-width: 0px) and (max-width: 640px) {
                    width: 100% !important;
                    min-height: 50px !important;
                }
            }
        }

    }
}
