<div *ngIf="elements" class="c-article-list u-overflow-y-auto" [ngStyle]="{ 'max-height': height + 'px' }">
    <div *ngFor="let element of elements; trackBy: removedTrackBy" class="c-article-item u-display-flex u-flex-row u-border-solid-grey1 u-margin-bottom">
        <div class="c-article-item--title">
            <img *ngIf="$any(element).thumbnailUrl" class="u-background-grey2 u-display-flex u-items-center u-content-center" [src]="$any(element).thumbnailUrl" height=150 width=150 alt="No Picture">
            <div *ngIf="!$any(element)?.thumbnailUrl" class="u-padding u-background-grey2 u-display-flex u-items-center u-content-center" style="width: 150px; min-height: 150px;">{{ element.title }} </div>
        </div>
       <div class="c-article-item--content u-display-flex u-flex-row u-content-space-between fill-x">
            <div class="u-padding">
                <div>[Id: '{{ element.removedId }}' ]</div>
                <div>{{ $any(element).body ?? element.title }}</div>
            </div>
            <div class="c-article-item--action u-background-grey2 u-display-flex u-items-center u-content-center" style="min-width: 150px; min-height: 150px;">
                <span class="icon-restore"></span>
            </div>
        </div>
    </div>
</div>